@{
    ViewBag.Title = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h1 class="display-4">Meet the man himself</h1>
    <img src="~/Images/JoelHilton.jpg" width="800"/>
</div>
<a asp-action="NewMovie">Click to add movie</a>
